{% extends "base.html" %}

{% block title %}Articles | {{ block.super }}{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <p>
        Some of my articles. If you want to stay up to date about my latest writings, you can follow me on
        <a href="https://twitter.com/konradhalas" target="_blank">Twitter</a> or subscribe to
        <a href="{% url 'articles_rss' %}">RSS</a> or <a href="{% url 'articles_atom' %}">Atom</a> feed.
    </p>
    <ul>
        {% for article in articles %}
            <li class="mb-3">
                <h4><a href="{{ article.get_absolute_url }}">{{ article.title }} <small>{{ article.sub_title }}</small></a></h4>
                <small>
                    published on {{ article.publish_date }}
                    {% if article.update_date != article.publish_date %}
                        , updated on {{ article.publish_date }}
                    {% endif %}
                </small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}