{% extends "base.html" %}

{% load static %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>
        My name is Konrad Hałas and I'm a software engineer - Python is my language of choice.
    </p>

    <div class="text-center">
        <img src="{% static 'img/me.png' %}" alt="Konrad Hałas photo" class="img-thumbnail my-photo">
    </div>

    <p>
        I'm senior engineer in <a href="http://www.xcheck.co/" target="_blank">xCheck</a> - compliant, automated and effective ad-tech for airlines.
    </p>

    <p>
        I'm also CTO in <a href="https://ulalachef.com/" target="_blank">Ulala Chef</a> - company where we are trying to
        redefine gastronomy market.
    </p>

    <p>
        I'm a co-founder and co-organizer of Python Warsaw User Group -
        <a href="http://pywaw.org" target="_blank">PyWaw</a>.
    </p>

    <p>
        I'm a Python trainer, consultant and speaker.
    </p>

    <p>
        Currently I'm living in Warsaw, Poland.
    </p>
{% endblock %}
