{% extends "base.html" %}
{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{% static 'img/home_bg.jpg' %}');"
            title="Photo by http://korsan.studio/">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Konrad Hałas</h1>
                        <span class="subheading">software engineer, speaker and trainer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h2>Hi there!</h2>
    <p>
        My name is Konrad and this is my personal website. Good to see you here!
    </p>
    <p>
        If you are interested in who I am, please check <a href="{% url 'about' %}">"about"</a> page. There are a few
        words about my background, interests and current involvements.
    </p>
    <p>
        You can find here my <a href="{% url 'projects_list' %}">projects</a>,
        <a href="{% url 'talks_list' %}">talks</a> and <a href="{% url 'articles_list' %}">articles</a>. I hope you will
        enjoy them.
    </p>
    <p>
        Feel free to contact me via <a href="mailto:halas.konrad@gmail.com">halas.konrad@gmail.com</a>. If you want to
        stay up to date with my activity, follow me on Twitter - my handle is
        <a href="https://twitter.com/konradhalas">@konradhalas</a>.
    </p>
{% endblock %}